<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<!-- Function to handle null, "null", or "-" values -->
		<% const sanitizeValue = function(val) {%> <% return (val === null || val === "null" || val === "-" || (typeof val === 'string' && val.includes('-'))) ? "" : val;%> <%};%>
		<div class="container">
			<h1>Welcome to <%= title %></h1>
			<div class="character-search">
				<form action="/" method="post">
					<input type="text" name="heroname" />
					<button type="submit">Search</button>
					<button type="button" formaction="/" id="randomButton">Random</button>
				</form>
			</div>

			<div class="character-info">
				<div class="character-image">
					<img src="<%= data.image.url %>" alt="character profile image" />
				</div>

				<!-- Bio info -->
				<div class="bio character-info">
					<h2 class="character__name"><%= data.name %> (<%= data.id %>)</h2>
					<p class="alignment"><span class="character-property-title">Alignment: </span><%= data.biography.alignment == "good" ? "Hero" : "Villian"; %></p>
					<p class="publisher"><span class="character-property-title">Publisher: </span><%= data.biography.publisher == "null" ? "Publisher unknown" : data.biography.publisher%></p>
					<p><span class="character-property-title">Place of Birth: </span><%= data.biography["place-of-birth"] == "null" || data.biography["place-of-birth"] == "-" ? "Location unknown" : data.biography["place-of-birth"] %></p>

					<%if (data.biography["full-name"]) {%>
					<p><span class="character-property-title">Real Name: </span><%= data.biography["full-name"] %></p>
					<%}%>
				</div>

				<!-- Aliases  -->
				<%if (data.biography.aliases.length > 0 && data.biography.aliases[0]!=="-") { %>
				<div class="aliases character-info">
					<h2>Aliases</h2>
					<ul class="character__aliases">
						<%data.biography.aliases.forEach(alias => {%>
						<li><%= alias %></li>
						<%})%>
					</ul>
				</div>

				<%}%>

				<!-- Traits -->

				<div class="traits character-info"></div>
				<h2>Traits</h2>
				<% for (let trait in data.appearance) { %> <% let value = data.appearance[trait];%>

				<!-- If value is an array, loop through its contents and sanitize each item -->
				<% if (Array.isArray(value)) {%>
				<!-- Join the array values into a string -->
				<%value = value.map(sanitizeValue).filter(item => item !== "").join(', '); %> <%} else {%>
				<!-- Sanitize single values -->
				<%value = sanitizeValue(value);%> <%}%> %>

				<p>
					<span class="character-property-title"><%= trait.charAt(0).toUpperCase() + trait.slice(1) %>:</span>
					<%= value %>
				</p>

				<% } %>
			</div>
			<!-- Power stats-->

			<div class="stats character-info">
				<h2>Stats</h2>
				<% for (let stat in data.powerstats) { %> <% let value = data.powerstats[stat]; %> <% if (value === null || value === "null") {%> <% value = ""; } %>
				<label for="<%= stat %>">
					<h3>
						<%= stat.charAt(0).toUpperCase() + stat.slice(1) %>:
						<span><%= value %></span>
					</h3>
				</label>
				<progress id="<%= stat %>" value="<%= value %>" max="100"></progress>
				<% } %>
			</div>

			<div class="affiliations character-info">
				<% let affiliations = data.connections["group-affiliation"]; %> <% if (typeof affiliations === 'string') {%> <% affiliations = affiliations.split(',').map(item => item.trim());%> <% }%> <%if (affiliations && affiliations.length > 0) { %>
				<h2>Group Affiliations <span>(<%= affiliations[0] == "-" ? "0" : affiliations.length %>)</span></h2>
				<ul>
					<% affiliations.map(sanitizeValue).filter(val => val !=="-").forEach(affiliation => {%>
					<li><%= affiliation %></li>

					<%})%>
				</ul>
				<% } else { %>
				<p>No group affiliations available.</p>
				<% } %>
			</div>

			<script>
				// Add an event listener for the "Random" button
				document.querySelector("#randomButton").addEventListener("click", () => {
					document.querySelector("form").submit(); // This will submit the form
				});
			</script>
		</div>
	</body>
</html>
