<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div class="container">
			<h1>Welcome to <%= title %></h1>
			<div class="character-search">
				<form action="/" method="post">
					<input type="text" name="heroname" />
					<button type="submit">Search</button>
					<button type="submit" formaction="/">Random</button>
				</form>
			</div>

			<%if (locals.data) {%>
			<div class="character-info">
				<div class="character-image">
					<img src="<%= data.image.url %>" alt="character profile image" />
				</div>

				<!-- Bio info -->
				<h2 class="character__name"><%= data.name %> (<%= data.id %>)</h2>

				<%if (locals.data.biography["full-name"]) {%>
				<p>Real Name: <%= data.biography["full-name"] %></p>
				<%}%>

				<!-- Aliases  -->
				<%if (data.biography.aliases.length > 0 &&
				data.biography.aliases[0]!=="-") { %>
				<h2>Aliases</h2>
				<ul class="character__aliases">
					<%data.biography.aliases.forEach(alias => {%>
					<li><%= alias %></li>
					<%})%>
				</ul>
				<%}%> <%# power stats %> <% if (data.powerstats) { %>
				<div class="stats">
					<h2>Stats</h2>
					<% for (let stat in data.powerstats) { %> <% let value =
					data.powerstats[stat]; %> <% if (value === null || value === "null") {
					value = "0"; } %>
					<label for="<%= stat %>">
						<h3>
							<%= stat.charAt(0).toUpperCase() + stat.slice(1) %>:
							<span><%= value %></span>
						</h3>
					</label>
					<progress id="<%= stat %>" value="<%= value %>" max="100"></progress>
					<% } %>
				</div>
				<% } %> <%}%>
			</div>
		</div>
	</body>
</html>
