<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet" />

		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<!-- Function to handle null, "null", or "-" values -->
		<% const sanitizeValue = function(val) {%> <% return (val === null || val === "null" || val === "-" || (typeof val === 'string' && val.includes('-'))) ? "" : val;%> <%};%>

		<div class="container">
			<header>
				<h1 class="mt-b">Welcome to <%= title %></h1>
			</header>

			<div class="character-search">
				<form action="/" method="post">
					<input type="text" name="heroname" />
					<button class="btn" type="submit">Search</button>
					<button class="btn" type="button" formaction="/" id="randomButton">Random</button>
				</form>
			</div>

			<div class="character-data">
				<div class="character-image mt-b">
					<img src="<%= data.image.url %>" alt="character profile image" />
				</div>
				<h2 class="character__name"><%= data.name %> <span class="character-id">(<%= data.id %>)</span></h2>

				<div class="character-data-sets">
					<!-- Bio info -->
					<div class="bio character-data-set">
						<h2>Bio</h2>

						<ul>
							<li class="alignment"><span class="character-property-title">Alignment: </span><%= data.biography.alignment == "good" ? "Hero" : "Villian"; %></li>
							<%if (data.biography["full-name"]) {%>
							<li><span class="character-property-title">Real Name: </span><%= data.biography["full-name"] %></li>
							<%}%>
							<li class="publisher"><span class="character-property-title">Publisher: </span><%= data.biography.publisher == "null" ? "Publisher unknown" : data.biography.publisher%></li>
							<li><span class="character-property-title">First Appearance:</span> <%= sanitizeValue(data.biography["first-appearance"]) %></li>
							<li><span class="character-property-title">Place of Birth: </span><%= data.biography["place-of-birth"] == "null" || data.biography["place-of-birth"] == "-" ? "Location unknown" : data.biography["place-of-birth"] %></li>
						</ul>
					</div>

					<!-- Aliases  -->
					<%if (data.biography.aliases.length > 0 && data.biography.aliases[0]!=="-") { %>
					<div class="aliases character-data-set">
						<h2>Aliases</h2>
						<ul class="character__aliases">
							<%data.biography.aliases.forEach(alias => {%>
							<li><%= alias %></li>
							<%})%>
						</ul>
					</div>
					<%}%>

					<!-- Traits -->
					<div class="traits character-data-set">
						<h2>Traits</h2>
						<ul>
							<% for (let trait in data.appearance) { %> <% let value = data.appearance[trait];%> <% if (Array.isArray(value)) {%> <%value = value.map(sanitizeValue).filter(item => item !== "").join(', '); %> <%} else {%> <%value = sanitizeValue(value);%> <%}%> %>

							<li>
								<span class="character-property-title"><%= trait.charAt(0).toUpperCase() + trait.slice(1) %>:</span>
								<%= value %>
							</li>

							<% } %>
						</ul>
					</div>

					<!-- Power stats-->
					<div class="stats character-data-set">
						<h2>Stats</h2>
						<ul>
							<% for (let stat in data.powerstats) { %> <% let value = data.powerstats[stat]; %> <% if (value === null || value === "null") {%> <% value = ""; } %>
							<li>
								<label for="<%= stat %>">
									<h3>
										<%= stat.charAt(0).toUpperCase() + stat.slice(1) %>:
										<span><%= value %></span>
									</h3>
								</label>
								<progress id="<%= stat %>" value="<%= value %>" max="100"></progress>
							</li>
							<% } %>
						</ul>
					</div>

					<!-- Affiliations-->
					<div class="affiliations character-data-set">
						<% let affiliations = data.connections["group-affiliation"]; %> <% if (typeof affiliations === 'string') {%> <% affiliations = affiliations.split(',').map(item => item.trim());%> <% }%> <%if (affiliations && affiliations.length > 0) { %>
						<h2>Group Affiliations <span>(<%= affiliations[0] == "-" ? "0" : affiliations.length %>)</span></h2>
						<ul>
							<% affiliations.map(sanitizeValue).filter(val => val !=="-").forEach(affiliation => {%>
							<li><%= affiliation %></li>

							<%})%>
						</ul>
						<% } else { %>
						<p>No group affiliations available.</p>
						<% } %>
					</div>
				</div>

				<script>
					// Add an event listener for the "Random" button
					document.querySelector("#randomButton").addEventListener("click", () => {
						document.querySelector("form").submit(); // This will submit the form
					});
				</script>
			</div>
		</div>
	</body>
</html>
